<<<<<<< HEAD
.form {
    line-height: 2;
    margin-top: 20px;

label {
     padding-left:  3%;
 }
=======
.form {
    line-height: 2;
    margin-top: 20px;

label {
     padding-left:  3%;
 }
>>>>>>> 6b93c4d2e2dfc3459a1d712ef396bfe4008980d8
}