<<<<<<< HEAD
.SearchBar{


input {
   height: 30px;
   width: 100%;
   outline: none;
   
 }
=======
.SearchBar{


input {
   height: 30px;
   width: 100%;
   outline: none;
   
 }
>>>>>>> 6b93c4d2e2dfc3459a1d712ef396bfe4008980d8
}